<%- include ("userheader.ejs") %>

<%- include ("usernav.ejs") %>

            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="about-text">
<style>
#cat_main
{
 height:auto;
 width:600px;
}
.cat_part
{
 height:150px;
 width:200px;
 float:left;
}
.cat_part img
{
 border:5px solid gray;
}    
</style>                                
<h2>Category >> </h2>
<center>
<div id="cat_main">
    <% for(let row of clist) { %>
    <a href="/user/viewsubcategory/<%- row.catname %>" >
    <div class="cat_part">
        <img src="../uploads/categoryicons/<%- row.caticonname %>" height="100" width="150" />
        <br/>
        <b><%- row.catname %></b>
    </div>
    </a>
    <% } %>
</div>
</center>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->

<%- include ("userfooter.ejs") %>            


